In [63]:
import pandas as pd
datosPola = pd.read_csv('Pola_tiempos_segundos.csv',index_col=0)

In [64]:
datosPola

,llegada_fila,TEA_caja,inicio_servicio_caja,fin_servicio_caja,ts_caja_segs,inicio_servicio_armado,fin_servicio_armado
0,45413,0.00,45459,45486,27.0,45551,45644
1,45415,2.01,45487,45537,50.0,45555,45651
2,45528,112.63,45539,45572,33.0,45602,45771
3,45529,1.26,45574,45588,14.0,45608,45772
4,45551,21.66,45591,45649,58.0,45671,45773
5,45730,179.41,45749,45824,75.0,45827,45911
6,45846,116.25,45851,45892,41.0,45893,45961
7,45924,77.42,45931,45989,58.0,45993,46077
8,45950,25.93,45990,46047,57.0,46051,46229
9,46301,351.08,46308,46359,51.0,46363,46434
10,46306,5.19,46361,46427,66.0,46430,46547
11,46413,106.65,46444,46473,29.0,46484,46560
12,46424,11.40,46478,46531,53.0,46540,46626
13,46770,346.37,46772,46846,74.0,3655,46982
14,47025,252.63,47078,47137,59.0,3940,47266
15,47178,149.71,47182,47259,77.0,4065,47414
16,47179,0.75,47260,47270,10.0,4072,47524
17,47255,76.79,47271,47314,43.0,4155,47614
18,47360,104.33,47368,47410,42.0,4216,47668
19,47596,236.55,47611,47685,74.0,4489,47799

In [65]:
import numpy as np

# Parámetro de la distribución exponencial
lambda_inv = 0.009182652133589224

# Generamos 1000 datos que siguen una distribución exponencial
datos_exponenciales = np.random.exponential(1/lambda_inv, 19)

# Añadimos un valor aleatorio a cada dato para que no sea una perfecta exponencial
TEA_caja = datos_exponenciales + np.random.normal(0, 1, 19)  # Añade ruido gaussiano
TEA_caja

array([210.79161322,  34.85558019, 102.54749547, 174.4696683 ,
        38.6500302 , 322.39421595,  15.08667217, 113.81108773,
        31.17170155, 158.31073088,  97.77417933, 252.29638802,
       122.25262049,  15.84268058,  21.889204  ,  56.93322952,
        63.72472696, 126.38654875,  25.76845301])

In [66]:
TEA_caja = [0,36.84485675, 142.31898742, 193.21775518,  46.7818489 ,
       105.70981511,   0.8852635 ,  71.18056968, 141.28345018,
        65.35426697,  66.98159931, 248.42415663,  72.45166878,
       103.76261982,  27.27958985,  79.92062236,   1.65423162,
       110.98447838,  42.92058966, 112.01981872]

In [67]:
newDFML = pd.DataFrame()

# Creamos la columna "llegada_fila" con longitud 23 y valor inicial NaN
newDFML["llegada_fila"] = [np.nan]*20

# Asignamos el primer valor
newDFML["llegada_fila"][0] = 45413

# Ahora podemos asignar los valores acumulativos
for i in range(1, len(newDFML)):
    if i != 0:
        newDFML["llegada_fila"][i] = newDFML["llegada_fila"][i-1] + TEA_caja[i]

newDFML

    llegada_fila
0   45413.000000
1   45449.844857
2   45592.163844
3   45785.381599
4   45832.163448
5   45937.873263
6   45938.758527
7   46009.939097
8   46151.222547
9   46216.576814
10  46283.558413
11  46531.982570
12  46604.434238
13  46708.196858
14  46735.476448
15  46815.397070
16  46817.051302
17  46928.035780
18  46970.956370
19  47082.976189

In [68]:
newDFML["TEA_caja"] = TEA_caja

In [69]:
newDFML

    llegada_fila    TEA_caja
0   45413.000000    0.000000
1   45449.844857   36.844857
2   45592.163844  142.318987
3   45785.381599  193.217755
4   45832.163448   46.781849
5   45937.873263  105.709815
6   45938.758527    0.885263
7   46009.939097   71.180570
8   46151.222547  141.283450
9   46216.576814   65.354267
10  46283.558413   66.981599
11  46531.982570  248.424157
12  46604.434238   72.451669
13  46708.196858  103.762620
14  46735.476448   27.279590
15  46815.397070   79.920622
16  46817.051302    1.654232
17  46928.035780  110.984478
18  46970.956370   42.920590
19  47082.976189  112.019819

In [70]:
import numpy as np

# Parámetros de la distribución uniforme
a = 10.0
b = 77.0

# Generamos 1000 datos que siguen una distribución uniforme
datos_uniformes = np.random.uniform(a, b, 20)

# Añadimos un valor aleatorio a cada dato
ts_caja_seg = datos_uniformes + np.random.normal(0, 1, 20)  # Añade ruido gaussiano

ts_caja_seg

array([20.40495569, 56.22404243, 46.09304089, 12.41659932, 45.17080627,
       37.16534432, 48.78097677, 20.52310348, 74.42802599, 39.81408777,
       20.15486863, 45.02158709, 33.74171867, 72.29642551, 56.38400484,
       52.64241486, 67.70548892, 16.57979015, 73.10243542, 21.05175623])

In [71]:
ts_caja_seg = [19.89722313, 11.47000604, 54.98955217, 60.99591531, 69.67517806,
       12.61776852, 12.97221808, 49.01950909, 16.71077862, 72.70757965,
       34.95076311, 31.52206058, 38.22991039, 31.81929656, 11.06006474,
       61.98621779, 52.6744726 , 70.4215763 , 34.74207554, 62.27521623]

In [72]:
newDFML["inicio_servicio_caja"] = pd.Series([np.nan]*20)
newDFML["fin_servicio_caja"] = pd.Series([np.nan]*20)

In [73]:
newDFML["ts_caja_seg"] = ts_caja_seg

In [74]:
newDFML["inicio_servicio_caja"][0] = 45459

In [75]:
newDFML

,llegada_fila,TEA_caja,inicio_servicio_caja,fin_servicio_caja,ts_caja_seg
0,45413.000000,0.000000,45459.0,NaN,19.897223
1,45449.844857,36.844857,NaN,NaN,11.470006
2,45592.163844,142.318987,NaN,NaN,54.989552
3,45785.381599,193.217755,NaN,NaN,60.995915
4,45832.163448,46.781849,NaN,NaN,69.675178
5,45937.873263,105.709815,NaN,NaN,12.617769
6,45938.758527,0.885263,NaN,NaN,12.972218
7,46009.939097,71.180570,NaN,NaN,49.019509
8,46151.222547,141.283450,NaN,NaN,16.710779
9,46216.576814,65.354267,NaN,NaN,72.707580
10,46283.558413,66.981599,NaN,NaN,34.950763
11,46531.982570,248.424157,NaN,NaN,31.522061
12,46604.434238,72.451669,NaN,NaN,38.229910
13,46708.196858,103.762620,NaN,NaN,31.819297
14,46735.476448,27.279590,NaN,NaN,11.060065
15,46815.397070,79.920622,NaN,NaN,61.986218
16,46817.051302,1.654232,NaN,NaN,52.674473
17,46928.035780,110.984478,NaN,NaN,70.421576
18,46970.956370,42.920590,NaN,NaN,34.742076
19,47082.976189,112.019819,NaN,NaN,62.275216

In [76]:
for i in range(0,len(newDFML["inicio_servicio_caja"])):
    for j in ts_caja_seg:
        if i == 0:
            newDFML["fin_servicio_caja"][i] = j +  newDFML["inicio_servicio_caja"][i]
        else:
            newDFML["inicio_servicio_caja"][i] = j +  newDFML["fin_servicio_caja"][i-1]
            newDFML["fin_servicio_caja"][i] = newDFML["inicio_servicio_caja"][i] + j

In [77]:
newDFML

,llegada_fila,TEA_caja,inicio_servicio_caja,fin_servicio_caja,ts_caja_seg
0,45413.000000,0.000000,45459.000000,45521.275216,19.897223
1,45449.844857,36.844857,45583.550432,45645.825649,11.470006
2,45592.163844,142.318987,45708.100865,45770.376081,54.989552
3,45785.381599,193.217755,45832.651297,45894.926514,60.995915
4,45832.163448,46.781849,45957.201730,46019.476946,69.675178
5,45937.873263,105.709815,46081.752162,46144.027379,12.617769
6,45938.758527,0.885263,46206.302595,46268.577811,12.972218
7,46009.939097,71.180570,46330.853027,46393.128243,49.019509
8,46151.222547,141.283450,46455.403460,46517.678676,16.710779
9,46216.576814,65.354267,46579.953892,46642.229108,72.707580
10,46283.558413,66.981599,46704.504325,46766.779541,34.950763
11,46531.982570,248.424157,46829.054757,46891.329973,31.522061
12,46604.434238,72.451669,46953.605190,47015.880406,38.229910
13,46708.196858,103.762620,47078.155622,47140.430838,31.819297
14,46735.476448,27.279590,47202.706054,47264.981271,11.060065
15,46815.397070,79.920622,47327.256487,47389.531703,61.986218
16,46817.051302,1.654232,47451.806919,47514.082136,52.674473
17,46928.035780,110.984478,47576.357352,47638.632568,70.421576
18,46970.956370,42.920590,47700.907784,47763.183001,34.742076
19,47082.976189,112.019819,47825.458217,47887.733433,62.275216

In [78]:
newDFML["inicio_servicio_armado"] = pd.Series([np.nan]*20)
newDFML["fin_servicio_armado"] = pd.Series([np.nan]*20)
newDFML["ts_armado"] = pd.Series([np.nan]*20)

In [79]:
newDFML['inicio_servicio_armado'][0] = newDFML['fin_servicio_caja'][0] + 65

In [80]:
ts_armado = [93.39, 0.81, 170.07, 165.1, 102.29, 84.2, 69.52, 85.9, 
           179.55, 72.82, 117.2, 77.42, 86.33, 127.88, 126, 150.81,
           252.3, 259.44, 252.19, 110.48]

In [81]:
newDFML['ts_armado'] = ts_armado

In [82]:
for i in range(0,len(newDFML["inicio_servicio_armado"])):
    if i == 0:
        newDFML["fin_servicio_armado"][i] = newDFML["inicio_servicio_armado"][i] + newDFML["ts_armado"][i]

    else: 
        newDFML["inicio_servicio_armado"][i] = newDFML["fin_servicio_armado"][i-1] + newDFML["ts_armado"][i]
        newDFML["fin_servicio_armado"][i] = newDFML["inicio_servicio_armado"][i] + newDFML["ts_armado"][i]

In [83]:
newDFML.to_excel("datosPolaSimulados.xlsx",index=0)

PermissionError: [Errno 13] Permission denied: 'datosPolaSimulados.xlsx'

In [84]:
newDFML.to_csv("datosPolaSimulados.csv",index=0)