# ML

In [152]:
import pandas as pd
datosMl = pd.read_csv('ML_tiempos_segundos.csv',index_col=0)

In [153]:
datosMl

,llegada_fila,TEA_caja,inicio_servicio_caja,fin_servicio_caja,ts_caja_seg,inicio_servicio_armado,fin_servicio_armado
0,45586,0.00,45586,45612,26.58,45742,45875
1,45486,68.65,45616,45650,33.92,45777,45924
2,45552,66.20,45656,45695,38.53,45822,45954
3,45574,21.48,45696,45782,85.83,45955,46216
4,45581,7.49,45817,45835,18.58,46047,46279
5,45603,22.11,45839,45887,48.18,46085,46283
6,45660,56.86,45888,45915,26.95,46204,46319
7,45813,152.71,45921,45973,52.23,46256,46340
8,45922,108.86,45978,46001,22.76,46406,46430
9,45938,15.99,46003,46036,33.29,46441,46486
10,45941,2.92,46036,46075,39.05,46479,46561
11,45978,37.72,46113,46151,37.91,46527,46588
12,45992,13.34,46179,46209,30.56,46600,46620
13,46113,121.44,46213,46249,36.11,46644,46685
14,46174,61.16,46310,46365,55.56,46688,46814
15,46210,35.30,46469,46520,51.57,46730,46876
16,46294,84.40,46670,46722,51.89,46902,46960
17,46317,23.11,46724,46762,37.76,46967,47013
18,46458,140.65,46763,46791,27.87,47033,47037
19,46670,212.49,46797,46849,51.24,47108,47130
20,46708,37.88,46850,46858,8.81,47185,47242

In [154]:
import numpy as np

# Parámetro de la distribución exponencial
lambda_inv = 0.016269484644705443

# Generamos 1000 datos que siguen una distribución exponencial
datos_exponenciales = np.random.exponential(1/lambda_inv, 22)

# Añadimos un valor aleatorio a cada dato para que no sea una perfecta exponencial
TEA_caja = datos_exponenciales + np.random.normal(0, 0.8, 22)  # Añade ruido gaussiano
TEA_caja

array([ 66.3793935 ,  75.35894806, 252.94364318, 294.01356693,
        28.07239861,  38.23437779,  94.68909845,  31.80088264,
       160.04225685,  46.14579179, 169.89565821,  83.53040897,
        51.58553554,  25.05220855, 150.72593641,   1.08971051,
        15.59236248,  77.91095323, 167.47278924,  11.44930349,
        40.55688664,  39.83106494])

In [155]:
TEA_caja = [ 0, 33.85810162,  39.72040249,  65.52262271,  97.68509776,
        66.04529888,  28.38515591,  13.7908671 ,  64.99969613,
        21.00765637,  21.66323826,  47.02134083,  50.35123697,
         9.72443043,  29.16444285,  53.11090612,  42.15789785,
         9.61659486,   7.36915631,  62.23017918,  27.7562745 ,
       169.82182507,  77.85104645]

In [156]:
newDFML = pd.DataFrame()

# Creamos la columna "llegada_fila" con longitud 23 y valor inicial NaN
newDFML["llegada_fila"] = [np.nan]*20

# Asignamos el primer valor
newDFML["llegada_fila"][0] = 45413

# Ahora podemos asignar los valores acumulativos
for i in range(1, len(newDFML)):
    if i != 0:
        newDFML["llegada_fila"][i] = newDFML["llegada_fila"][i-1] + TEA_caja[i]

newDFML

    llegada_fila
0   45586.000000
1   45586.000000
2   45619.858102
3   45659.578504
4   45725.101127
5   45822.786225
6   45888.831523
7   45917.216679
8   45931.007546
9   45996.007243
10  46017.014899
11  46038.678137
12  46085.699478
13  46136.050715
14  46145.775145
15  46174.939588
16  46228.050494
17  46270.208392
18  46279.824987
19  46287.194143
20  46349.424323
21  46377.180597
22  46547.002422

In [157]:
newDFML["TEA_caja"] = TEA_caja

In [158]:
newDFML

    llegada_fila    TEA_caja
0   45586.000000    0.000000
1   45586.000000   33.858102
2   45619.858102   39.720402
3   45659.578504   65.522623
4   45725.101127   97.685098
5   45822.786225   66.045299
6   45888.831523   28.385156
7   45917.216679   13.790867
8   45931.007546   64.999696
9   45996.007243   21.007656
10  46017.014899   21.663238
11  46038.678137   47.021341
12  46085.699478   50.351237
13  46136.050715    9.724430
14  46145.775145   29.164443
15  46174.939588   53.110906
16  46228.050494   42.157898
17  46270.208392    9.616595
18  46279.824987    7.369156
19  46287.194143   62.230179
20  46349.424323   27.756274
21  46377.180597  169.821825
22  46547.002422   77.851046

In [159]:
newDFML

    llegada_fila    TEA_caja
0   45586.000000    0.000000
1   45586.000000   33.858102
2   45619.858102   39.720402
3   45659.578504   65.522623
4   45725.101127   97.685098
5   45822.786225   66.045299
6   45888.831523   28.385156
7   45917.216679   13.790867
8   45931.007546   64.999696
9   45996.007243   21.007656
10  46017.014899   21.663238
11  46038.678137   47.021341
12  46085.699478   50.351237
13  46136.050715    9.724430
14  46145.775145   29.164443
15  46174.939588   53.110906
16  46228.050494   42.157898
17  46270.208392    9.616595
18  46279.824987    7.369156
19  46287.194143   62.230179
20  46349.424323   27.756274
21  46377.180597  169.821825
22  46547.002422   77.851046

In [160]:
import numpy as np

# Parámetros de la distribución uniforme
a = 8.81
b = 85.83

# Generamos 1000 datos que siguen una distribución uniforme
datos_uniformes = np.random.uniform(a, b, 23)

# Añadimos un valor aleatorio a cada dato
ts_caja_seg = datos_uniformes + np.random.normal(0, 1, 23)  # Añade ruido gaussiano

ts_caja_seg

array([86.51457391, 72.61204909, 85.58761895, 82.94354478, 19.22058581,
       51.4208981 , 15.46231112, 13.93875931, 10.16378924, 53.48358048,
       63.80503878, 39.52981415, 72.82665906, 41.29683304, 62.42361389,
       46.59028758, 53.01363893, 42.23232947, 43.62084721, 43.85350056,
       67.25534692, 31.30379159, 75.35791613])

In [161]:
ts_caja_seg = [24.16721494, 49.39074303, 67.54373581, 65.55897822, 36.54528402,
       62.49657044, 81.91577309, 80.38330251, 66.1029047 , 28.3346924 ,
       61.82412667, 82.344118  , 19.81512437, 61.67495512, 10.02534426,
       50.522566  , 47.98351677, 38.41927293, 84.21442687, 53.35032859,
       27.57732393, 69.21908514, 13.94458743]

In [162]:
newDFML["inicio_servicio_caja"] = pd.Series([np.nan]*23)
newDFML["fin_servicio_caja"] = pd.Series([np.nan]*23)

In [163]:
newDFML["ts_caja_seg"] = ts_caja_seg

In [164]:
newDFML["inicio_servicio_caja"][0] = 45586

In [165]:
for i in range(0,len(newDFML["inicio_servicio_caja"])):
    for j in ts_caja_seg:
        if i == 0:
            newDFML["fin_servicio_caja"][i] = j +  newDFML["inicio_servicio_caja"][i]
        else:
            newDFML["inicio_servicio_caja"][i] = j +  newDFML["fin_servicio_caja"][i-1]
            newDFML["fin_servicio_caja"][i] = newDFML["inicio_servicio_caja"][i] + j

In [166]:
newDFML["inicio_servicio_armado"] = pd.Series([np.nan]*23)
newDFML["fin_servicio_armado"] = pd.Series([np.nan]*23)
newDFML["ts_armado"] = pd.Series([np.nan]*23)

In [167]:
newDFML['inicio_servicio_armado'][0] = newDFML['fin_servicio_caja'][0] + 130

In [168]:
ts_armado = [133.013, 147.027, 132.012, 261.021, 231.051, 197.017, 115.055, 84.024, 24.024, 46.046, 82.022, 61.001, 19.019, 41.041, 126.006, 146.026, 58.058, 46.046, 4.004, 22.022, 57.057, 40.054,29.847 ]

In [169]:
newDFML['ts_armado'] = ts_armado

In [172]:
for i in range(0,len(newDFML["inicio_servicio_armado"])):
    if i == 0:
        newDFML["fin_servicio_armado"][i] = newDFML["inicio_servicio_armado"][i] + newDFML["ts_armado"][i]

    else: 
        newDFML["inicio_servicio_armado"][i] = newDFML["fin_servicio_armado"][i-1] + newDFML["ts_armado"][i]
        newDFML["fin_servicio_armado"][i] = newDFML["inicio_servicio_armado"][i] + newDFML["ts_armado"][i]

In [173]:
#newDFML.to_excel("datosMLSimulados.xlsx",index=0)